* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}


main {
    background-color: var(--color4);
}


/* UTILITY */

:root {
    --color1: #000000;
    --color2: #FFFFFF;
    --color3: #080b12;
    --color4: #141922;
    --color5: #6e6e6e;
    --color6: #55585e;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--color5);
    font-size: 15px;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

h2 {
    color: var(--color2)
}

h5 {
    color: var(--color2);
    font-size: 17px;
}
/* // UTILITY // */


/* SECTION SIDEBAR */

#sidebar {
    background-color: var(--color1);


    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

#sidebar figure img:first-child {
    width: 55%;
    margin: 10px;
}

#sidebar figure img:last-child {
    display: none;
}

#sidebar .nav {
    margin: 10px;
}
#sidebar .nav img {
    width: 10%;
}

.playlist {
    margin-top: 30px;
}

.playlist ul li {
    margin-top: 10px;
}

.fas {
    background-color: var(--color5);
}

.administration {
    margin-top: 70px;
}

.administration .download {
    margin-bottom: 10px;
}

.administration span {
    color: var(--color5);
    font-size: 13px;
    font-weight: 600;
}

.administration hr {
    width: 50%;
    color: var(--color5);
}

.profile {
    margin-top: 10px;
}

.profile img {
    background-color: var(--color5);
    border-radius: 90%;
}

.profile span {
    font-weight: 600;
    font-size: 15px;
    color: var(--color2);
}

/* // SECTION SIDEBAR // */

/* SECTION UPGRADE */

#main-content {
    flex-grow: 1;
    height: calc(100vh - 80px);
    overflow: auto;
}

.top-menu {
    height: 80px;
    width: calc(100% - 50px);

    background-color: rgba(8,11,18, 0.5);
    position: fixed;

    top: 0;
    right: 40;
    z-index: 1;
}

.btn-upgrade {
    position: absolute;

    right: 270px;
    top: 20px;

    font-size: 14px;
    font-weight: 700;
    padding: 10px 30px;

    color: var(--color2);
    border: 1px solid white;
    border-radius: 20px;
}

/* // SECTION UPGRADE // */

 /* SECTION CONTENT MENU */

#content-menu {
    padding-top: 90px;
}

#content-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#content-menu li a {
    padding-right: 30px;
    padding-bottom: 15px;

    font-size: 13px;
    font-weight: 700;

    position: relative;
}

/* // SECTION CONTENT MENU // */

/* SECTION RECENTLY PLAYED */

.recently-played h2,
.created-for h2 {
    margin-top: 20px;
    margin-left: 30px;
}

.section-recently-played{
    display: flex;
    justify-content: flex-start;

    text-align: center;
    font-size: 14px;
    margin-left: 20px;
}

.album {
    margin-top: 20px;
    padding-bottom: 10px;
    width: calc(100% / 6 - 20px);
}

.album figure img {
    width: 90%;
}

.album h3 {
    color: var(--color2);
    margin-bottom: 5px;
}

.album span {
    color: var(--color6);
    font-weight: 600;
}

/* // SECTION RECENTLY PLAYED // */

.created-for h4 {
    color: var(--color5);
    margin-left: 28px;
    margin-top: 5px;
    font-size: 13px;
}

.created-for .album {
    margin
}


@media screen and (max-width: 768px) {
    .btn-upgrade {
        right: 10px;
    }

    .section-recently-played {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

}

@media screen and (max-width: 576px) {
    .btn-upgrade {
        right: 70px;
    }

    #content-menu ul li{
        margin-bottom: 10px;
    }

    .album figure img {
        width: 40%;
    }

    .section-recently-played {
        display: flex;
        flex-wrap: wrap;
    }
    
}