* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: green;
}

/* UTILITY */

:root {
    --color1: #000000;
    --color2: #FFFFFF;
    --color3: #080b12;
    --color4: #141922;
    --color5: #6e6e6e;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--color5);
    font-size: 15px;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

h5 {
    color: var(--color2);
    font-size: 17px;
}
/* // UTILITY // */


/* SECTION SIDEBAR */

#sidebar {
    background-color: var(--color1);

    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

#sidebar figure img:first-child {
    width: 55%;
    margin: 10px;
}

#sidebar figure img:last-child {
    display: none;
}

#sidebar .nav {
    margin: 10px;
}
#sidebar .nav img {
    width: 10%;
}

.playlist {
    margin-top: 30px;
}

.playlist ul li {
    margin-top: 10px;
}

.fas {
    background-color: var(--color5);
}

.administration {
    margin-top: 70px;
}

.administration .download {
    margin-bottom: 10px;
}

.administration span {
    color: var(--color5);
    font-size: 13px;
    font-weight: 600;
}

.administration hr {
    width: 50%;
    color: var(--color5);
}

.profile {
    margin-top: 10px;
}

.profile img {
    background-color: var(--color5);
    border-radius: 40%;
}

.profile span {
    font-weight: 600;
    font-size: 15px;
    color: var(--color2);
}